<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา markdown

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

การจัดการข้อมูลก่อนทำdata mining มี 2 ขั้นตอนหลักๆ
1. import pandas

In [1]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # เหมือนกับข้างบน แต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma seprated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

ลองสร้างไฟล์ csv ในนี้

- กดไฟล์ แล้วคลิ๊กขวาสร้างไฟล์ใหม่ 

- ดับเบิ้ลคลิ๊ก เพื่อเพิ่มข้อมูลในไฟล์

- แล้วไปเปลี่ยนชื่อเพิ่ม .csv

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables (ตัวแปร) 
คือกล่องสำหรับเก็บข้อมูล

ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ชื่อภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

### ลองใช้ข้อกำหนดในการตั้งชื่อตัวแปร

In [12]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [13]:
# (พยายาม)ใช้ชื่อภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [14]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [15]:
# ตั้งชื่อเดียวกัน ข้อมูลทับกัน
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [16]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [17]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [18]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1
print(variable)

1

### นี่เป็นการตั้งชื่อที่ถูกต้อง

In [19]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [20]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [21]:
variable_a + variable_b  # ตัวเลขบวกกับตัวหนังสือไม่ได้

TypeError: ignored

In [23]:
print(variable_b + variable_4)  # ตัวหนังสือก็จะรวมเข้าด้วยกัน

abcdeKKU

## Casting int() float() str() 
สามารถเปลี่ยนชนิดของตัวแปรได้

In [24]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [26]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [27]:
V_X + variable_a  # string บวกกับตัวเลขไม่ได้

TypeError: ignored

In [28]:
V_X  # quote อยู่แสดงว่าเป็น string

'-29.200000000000003'

In [29]:
float(V_X)  # เปลี่ยน string ให้เป็นตัวเลข

-29.200000000000003

## Data Structure
### list()

In [30]:
# วิธีสร้างlist แบบง่ายๆ
list_a = [1,2,0.2,'abs']  # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [31]:
list_a

[1, 2, 0.2, 'abs']

In [32]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [33]:
len(list_b)  # ดูว่ามีสมาชิกกี่ตัว

4

In [34]:
# ชี้สมาชิก เพื่อดึงค่ามันออกมา
list_b[3]

[1, 2, 0.0]

In [35]:
# สามารถชี้ซ้อนกันได้ เหมือนกับหาค่าที่ซ้ำกัน
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [36]:
a = 'Stat KKU'

In [37]:
a[4]  # ชี้ตัวที่4จะได้เป็นเว้นวรรค

' '

### วิธีสร้าง list ว่าง แบบที่ 2

In [38]:
list_c = list()  # แบบที่ 1
list_d = []  # แบบที่ 2

In [39]:
list_c

[]

In [40]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [41]:
list_d.append('a')

In [42]:
list_d

['a']

In [43]:
list_d.append(56)

In [45]:
list_d

['a', 56]

## การชี้ค่าใน list (indexing)
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [46]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [47]:
list_b[-1]

[1, 2, 0.0]

### list slicing
สามารถที่จะเลือกบางส่วนของ list ออกมาได้

In [48]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์ทางคณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [49]:
list_ex[1:6]  # เริ่มตั้งแต่ตัวที่ 1 จนถึงตัวที่ 5

[2, 3, 5, 6, 8]

In [50]:
list_ex[4:]  # เริ่มตั้งแต่ตัวที่ 4 จนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [51]:
list_ex[:6]  # เริ่มตั้งแต่ตัวแรกจนถึงตัวที่ 5

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [52]:
list_ex[::2]  # เอาตั้งแต่ตัวแรกจนถึงตัวที่สุดท้าย โดยใช้ step2(กระโดดทีละ2)

[1, 3, 6, -1, 50]

In [53]:
list_ex[::-1]  # การกลับ list (ถ้าเป็นลบ จะกลับ list ให้เลย)

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [54]:
a

'Stat KKU'

In [55]:
a[5:]

'KKU'

In [56]:
a[-3:]

'KKU'

In [60]:
a[5:8]

'KKU'

In [74]:
a[-3::1]

'KKU'

## list + list

In [75]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [76]:
list_a + list_b  # เอา list มาต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [80]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop
การทำซ้ำ

```python
for ตัวแปรที่จะรับค่าจากลิส in ลิสที่จะนำมาวนลูป:
    do something
```

In [79]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [81]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [82]:
list5 = [1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [83]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [85]:
for i in range(2,7,2):  # สร้าง2ถึง7 กระโดดทีละ2
    print(i)

2
4
6

In [87]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [90]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
end j loop
now i = 1
start j loop
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
end j loop
now i = 2
start j loop
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5
end j loop

## Condition
## Function