<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา markdown

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

การจัดการข้อมูลก่อนทำdata mining มี 2 ขั้นตอนหลักๆ
1. import pandas

In [ ]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกับข้างบน แต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma seprated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

ลองสร้างไฟล์ csv ในนี้

- กดไฟล์ แล้วคลิ๊กขวาสร้างไฟล์ใหม่ 

- ดับเบิ้ลคลิ๊ก เพื่อเพิ่มข้อมูลในไฟล์

- แล้วไปเปลี่ยนชื่อเพิ่ม .csv

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables (ตัวแปร) 
คือกล่องสำหรับเก็บข้อมูล

ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ชื่อภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

### ลองใช้ข้อกำหนดในการตั้งชื่อตัวแปร

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# (พยายาม)ใช้ชื่อภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [ ]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ตั้งชื่อเดียวกัน ข้อมูลทับกัน
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1
print(variable)

### นี่เป็นการตั้งชื่อที่ถูกต้อง

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b  # ตัวเลขบวกกับตัวหนังสือไม่ได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4)  # ตัวหนังสือก็จะรวมเข้าด้วยกัน

## Casting int() float() str() 
สามารถเปลี่ยนชนิดของตัวแปรได้

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a  # string บวกกับตัวเลขไม่ได้

TypeError: ignored

In [ ]:
V_X  # quote อยู่แสดงว่าเป็น string

'-29.200000000000003'

In [ ]:
float(V_X)  # เปลี่ยน string ให้เป็นตัวเลข

-29.200000000000003

## Data Structure
### list()

In [ ]:
# วิธีสร้างlist แบบง่ายๆ
list_a = [1,2,0.2,'abs']  # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)  # ดูว่ามีสมาชิกกี่ตัว

4

In [ ]:
# ชี้สมาชิก เพื่อดึงค่ามันออกมา
list_b[3]

[1, 2, 0.0]

In [ ]:
# สามารถชี้ซ้อนกันได้ เหมือนกับหาค่าที่ซ้ำกัน
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]  # ชี้ตัวที่4จะได้เป็นเว้นวรรค

' '

### วิธีสร้าง list ว่าง แบบที่ 2

In [ ]:
list_c = list()  # แบบที่ 1
list_d = []  # แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

## การชี้ค่าใน list (indexing)
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

### list slicing
สามารถที่จะเลือกบางส่วนของ list ออกมาได้

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์ทางคณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6]  # เริ่มตั้งแต่ตัวที่ 1 จนถึงตัวที่ 5

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]  # เริ่มตั้งแต่ตัวที่ 4 จนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]  # เริ่มตั้งแต่ตัวแรกจนถึงตัวที่ 5

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex[::2]  # เอาตั้งแต่ตัวแรกจนถึงตัวที่สุดท้าย โดยใช้ step2(กระโดดทีละ2)

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]  # การกลับ list (ถ้าเป็นลบ จะกลับ list ให้เลย)

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[-3::1]

'KKU'

## list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b  # เอา list มาต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop
การทำซ้ำ

indent แปลว่า เว้น
```python
for ตัวแปรที่จะรับค่าจากลิส in ลิสที่จะนำมาวนลูป:
    do something  #in loop
    do another thing #in loop

do other things  #out loop
```

In [1]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [2]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [3]:
list5 = [1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [6]:
for i in range(2,7,2):  # สร้าง2ถึง7 กระโดดทีละ2
    print(i)

2
4
6

In [7]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [8]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [10]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
end j loop
now i = 1
start j loop
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
end j loop
now i = 2
start j loop
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5
end j loop

## Condition (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
```

In [11]:
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 20:
    print(f'{stringx} is longer than 20 characters')

mintratippayaratsoontorn is longer than 20 characters

In [12]:
# ถ้าไม่ถึงเงื่อนไขที่กำหนดจะไม่แสดงผลออกมา
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 100:
    print(f'{stringx} is longer than 100 characters')

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [13]:
# ถ้าไม่ตรงตามเงื่อนไข แล้วได้จำนวนเท่าไหร่
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 100:
    print(f'{stringx} is longer than 100 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long')

mintratippayaratsoontorn in 24 characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [14]:
password = '12345'

input_pass = '123sf'  # ลองใส่password
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again')
elif len(input_pass) < len(password):
    print('Too short, try again')
else:
    print('Wrong password, try again')

Wrong password, try again

# Quiz 1 หา min

In [15]:
list_ex = [1,5,9,-19,-2,0]  # หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [16]:
# เฉลย
min = 1000000  # สมมุติค่า
for i in list_ex:  # วนเข้าไปดูตัวไหนน้อยสุด
    if i < min:
        min = i
print(min)

-19

In [17]:
min = 1000000  # สมมุติค่า
for i in list_ex:  
    print(f'now i = {i}, min = {min}')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('not update')
    print('end condition, go to next i')
print(min)

now i = 1, min = 1000000
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
not update
end condition, go to next i
now i = 9, min = 1
not update
end condition, go to next i
now i = -19, min = 1
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
not update
end condition, go to next i
now i = 0, min = -19
not update
end condition, go to next i
-19

In [18]:
print('Min = %d' % min(list_ex))  # ลองทำ

TypeError: ignored

In [19]:
min(1,5,9,-19,-2,0)  # function min

TypeError: ignored

# HW3 ตัดเกรด

In [20]:
score = [49,65,70,95,82,20,77,77,81,59,10]  # ตัดเกรดคะแนนใน list score (ใช้ if กับ for)

In [23]:
# ใช้เกณฑ์ปกติ (A-F)

for i in score:

  if i >= 80:
    print(f'{i} grade A')
  elif i >= 75:
    print(f'{i} grade B+')
  elif i >= 70:
    print(f'{i} grade B')
  elif i >= 65:
    print(f'{i} grade C+')
  elif i >= 60:
    print(f'{i} grade C')
  elif i >= 55:
    print(f'{i} grade D+')
  elif i >= 50:
    print(f'{i} grade D')
  else:
    print(f'{i} grade F')

49 grade F
65 grade C+
70 grade B
95 grade A
82 grade A
20 grade F
77 grade B+
77 grade B+
81 grade A
59 grade D+
10 grade F

## Function

```python
def ชื่อฟังก์ชัน(input1,input2,...):
    งานxxx
    งานyyy
    return output
```

ส่วนประกอบสำคัญ
* input
* process (ไม่มีไม่ได้)
* output

![image.png]()

### Example1

จะเขียนโค้ดยาวๆแค่รอบเดียว

###### วิธีที่ 1  ค่อย return ตอนสุดท้าย

In [24]:
def grading(score):
    if score >= 80:
        grade ='A'
    elif score >= 75:
        grade ='B+'
    elif score >= 70:
        grade ='B'
    elif score >= 65:
        grade ='C+'
    elif score >= 60:
        grade ='C'
    elif score >= 55:
        grade ='D+'
    elif score >= 50:
        grade ='D'
    else:
        grade ='F'

    return grade

In [25]:
score = [49,65,70,95,82,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

###### วิธีที่ 2  return ในตัวเองเลย

In [32]:
def grading2(score):
    if score >= 80:
        return'A'
    elif score >= 75:
        return'B+'
    elif score >= 70:
        return'B'
    elif score >= 65:
        return'C+'
    elif score >= 60:
        return'C'
    elif score >= 55:
        return'D+'
    elif score >= 50:
        return'D'
    else:
        return'F'

In [33]:
score = [49,65,70,95,82,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading2(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

###### วิธีที่ 3  ทำได้เหมือนกัน แต่รูปแบบไม่สวย

In [29]:
def grading_list(list_score):
    grade_list = []
    for score in list_score:
        if score >= 80:
            grade ='A'
        elif score >= 75:
            grade ='B+'
        elif score >= 70:
            grade ='B'
        elif score >= 65:
            grade ='C+'
        elif score >= 60:
            grade ='C'
        elif score >= 55:
            grade ='D+'
        elif score >= 50:
            grade ='D'
        else:
            grade ='F'
        grade_list.append([score,grade])
    return grade_list

In [30]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

### Example 2 (ไม่มี input)

In [36]:
def mypi():
    return 3.14

In [39]:
r = 10
print(f'รัศมี={r} จะมีเส้นรอบวง={2*mypi()*r}')

รัศมี=10 จะมีเส้นรอบวง=62.800000000000004

### Example 3 (ไม่มี output)

In [42]:
def grading_nooutput(score):
    if i >= 80:
        print('ได้เกรด A')
    elif i >= 75:
        print('ได้เกรด B+')
    elif i >= 70:
        print('ได้เกรด B')
    elif i >= 65:
        print('ได้เกรด C+')
    elif i >= 60:
        print('ได้เกรด C')
    elif i >= 55:
        print('ได้เกรด D+')
    elif i >= 50:
        print('ได้เกรด D')
    else:
        print('ได้เกรด F')

In [43]:
score = [49,65,70,95,82,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i}', end=' ')
    grading_nooutput(i)

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

### Example 4 (ไม่มี input และ output)

ลองสร้างสี่เหลี่ยม

In [44]:
def draw_ract():
    print('==========')
    print('|        |')
    print('|        |')
    print('==========')

In [45]:
draw_ract()

==========
|        |
|        |
==========

In [46]:
draw_ract()
draw_ract()

==========
|        |
|        |
==========
==========
|        |
|        |
==========

#### ลักษณะของ input (parameter , argument)

*   จำเป็นต้องใส่ non-default
*   ไม่จำเป็นต้องใส่

In [47]:
def A(input1, input2 = 3):
    return input1 + input2

In [48]:
A(1)  # ใส่ input ตัวเดียว

4

In [50]:
A(1,6)  # ใส่ input 2 ตัว

7

In [51]:
A()  # ไม่ใส่ input ก็จะ error

TypeError: ignored

In [52]:
def printlove(input1, input2 = 'Stat', input3 = 'KKU'):
    print(f'{input1} love {input2} {input3}')

In [53]:
printlove('Mintra')

Mintra love Stat KKU

In [54]:
printlove('Mintra','SI','Stat')

Mintra love SI Stat

In [57]:
printlove(input3 = 'Mintra', input2 = 'SI', input1 = 'Stat')

Stat love SI Mintra

In [58]:
def printlove(input2 = 'Stat', input1, input3 = 'KKU'):
    print(f'{input1} love {input2} {input3}')

SyntaxError: ignored

#### HW4
สร้างฟังก์ชัน

*   วาดรูปบ้าน
*   วาดรูปต้นไม้