<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะอยู่ในภาษา markdown

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

การจัดการข้อมูลก่อนทำdata mining มี 2 ขั้นตอนหลักๆ
1. import pandas

In [59]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [60]:
import pandas as pd # เหมือนกับข้างบน แต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma seprated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

ลองสร้างไฟล์ csv ในนี้

- กดไฟล์ แล้วคลิ๊กขวาสร้างไฟล์ใหม่ 

- ดับเบิ้ลคลิ๊ก เพื่อเพิ่มข้อมูลในไฟล์

- แล้วไปเปลี่ยนชื่อเพิ่ม .csv

In [61]:
data_df = pd.read_csv('data.csv')

In [62]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [63]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables (ตัวแปร) 
คือกล่องสำหรับเก็บข้อมูล

ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ชื่อภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [64]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a

In [65]:
variable_a

12

In [66]:
variable_b

'abcde'

In [67]:
variable_c

12

### ลองใช้ข้อกำหนดในการตั้งชื่อตัวแปร

In [69]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [70]:
# (พยายาม)ใช้ชื่อภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [71]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [72]:
# ตั้งชื่อเดียวกัน ข้อมูลทับกัน
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [73]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1
print(variable)

### นี่เป็นการตั้งชื่อที่ถูกต้อง

In [74]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote (มี quote แสดงว่าข้อความเป็นstring)
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [75]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [76]:
variable_a + variable_b  # ตัวเลขบวกกับตัวหนังสือไม่ได้

TypeError: ignored

In [ ]:
print(variable_b + variable_4)  # ตัวหนังสือก็จะรวมเข้าด้วยกัน

## Casting int() float() str() 
สามารถเปลี่ยนชนิดของตัวแปรได้

In [77]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [78]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [79]:
V_X + variable_a  # string บวกกับตัวเลขไม่ได้

TypeError: ignored

In [80]:
V_X  # quote อยู่แสดงว่าเป็น string

'-29.200000000000003'

In [81]:
float(V_X)  # เปลี่ยน string ให้เป็นตัวเลข

-29.200000000000003

## Data Structure
### list()

In [82]:
# วิธีสร้างlist แบบง่ายๆ
list_a = [1,2,0.2,'abs']  # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [83]:
list_a

[1, 2, 0.2, 'abs']

In [84]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [85]:
len(list_b)  # ดูว่ามีสมาชิกกี่ตัว

4

In [86]:
# ชี้สมาชิก เพื่อดึงค่ามันออกมา
list_b[3]

[1, 2, 0.0]

In [87]:
# สามารถชี้ซ้อนกันได้ เหมือนกับหาค่าที่ซ้ำกัน
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [88]:
a = 'Stat KKU'

In [89]:
a[4]  # ชี้ตัวที่4จะได้เป็นเว้นวรรค

' '

### วิธีสร้าง list ว่าง แบบที่ 2

In [90]:
list_c = list()  # แบบที่ 1
list_d = []  # แบบที่ 2

In [91]:
list_c

[]

In [92]:
list_d

[]

เติมค่าลงไปใน list(.append())

In [93]:
list_d.append('a')

In [94]:
list_d

['a']

In [95]:
list_d.append(56)

In [96]:
list_d

['a', 56]

## การชี้ค่าใน list (indexing)
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [97]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [98]:
list_b[-1]

[1, 2, 0.0]

### list slicing
สามารถที่จะเลือกบางส่วนของ list ออกมาได้

In [99]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์ทางคณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [100]:
list_ex[1:6]  # เริ่มตั้งแต่ตัวที่ 1 จนถึงตัวที่ 5

[2, 3, 5, 6, 8]

In [101]:
list_ex[4:]  # เริ่มตั้งแต่ตัวที่ 4 จนถึงตัวสุดท้าย

[6, 8, -1, 20, 50, 0]

In [102]:
list_ex[:6]  # เริ่มตั้งแต่ตัวแรกจนถึงตัวที่ 5

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [103]:
list_ex[::2]  # เอาตั้งแต่ตัวแรกจนถึงตัวที่สุดท้าย โดยใช้ step2(กระโดดทีละ2)

[1, 3, 6, -1, 50]

In [104]:
list_ex[::-1]  # การกลับ list (ถ้าเป็นลบ จะกลับ list ให้เลย)

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [105]:
a

'Stat KKU'

In [106]:
a[5:]

'KKU'

In [107]:
a[-3:]

'KKU'

In [108]:
a[5:8]

'KKU'

In [109]:
a[-3::1]

'KKU'

## list + list

In [110]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [111]:
list_a + list_b  # เอา list มาต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [112]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop
การทำซ้ำ

indent แปลว่า เว้น
```python
for ตัวแปรที่จะรับค่าจากลิส in ลิสที่จะนำมาวนลูป:
    do something  #in loop
    do another thing #in loop

do other things  #out loop
```

In [113]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [114]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [115]:
list5 = [1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [118]:
for i in range(2,7,2):  # สร้าง2ถึง7 กระโดดทีละ2
    print(i)

2
4
6

In [121]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [119]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [120]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
    print('end j loop')

now i = 0
start j loop
i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
end j loop
now i = 1
start j loop
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
end j loop
now i = 2
start j loop
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5
end j loop

## Condition (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
```

In [130]:
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 20:
    print(f'{stringx} is longer than 20 characters')

mintratippayaratsoontorn is longer than 20 characters

In [131]:
# ถ้าไม่ถึงเงื่อนไขที่กำหนดจะไม่แสดงผลออกมา
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 100:
    print(f'{stringx} is longer than 100 characters')

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [132]:
# ถ้าไม่ตรงตามเงื่อนไข แล้วได้จำนวนเท่าไหร่
stringx = 'mintratippayaratsoontorn'

if len(stringx) > 100:
    print(f'{stringx} is longer than 100 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long')

mintratippayaratsoontorn in 24 characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไป ถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [135]:
password = '12345'

input_pass = '123sf'  # ลองใส่password
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again')
elif len(input_pass) < len(password):
    print('Too short, try again')
else:
    print('Wrong password, try again')

Wrong password, try again

# Quiz 1 หา min

In [145]:
list_ex = [1,5,9,-19,-2,0]  # หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [150]:
# เฉลย
min = 1000000  # สมมุติค่า
for i in list_ex:  # วนเข้าไปดูตัวไหนน้อยสุด
    if i < min:
        min = i
print(min)

-19

In [151]:
min = 1000000  # สมมุติค่า
for i in list_ex:  
    print(f'now i = {i}, min = {min}')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('not update')
    print('end condition, go to next i')
print(min)

now i = 1, min = 1000000
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
not update
end condition, go to next i
now i = 9, min = 1
not update
end condition, go to next i
now i = -19, min = 1
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
not update
end condition, go to next i
now i = 0, min = -19
not update
end condition, go to next i
-19

In [147]:
print('Min = %d' % min(list_ex))  # ลองทำ

Min = -19

In [146]:
min(1,5,9,-19,-2,0)  # function min

-19

# HW3 ตัดเกรด

In [ ]:
score = [49,65,70,95,82,20,77,77,81,59,10]  # ตัดเกรดคะแนนใน list score (ใช้ if กับ for)

In [ ]:
for i in score:
    if i < score:
       score = i

## Function