<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Project_DWDM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

แหล่งที่มาของข้อมูล : https://data.go.th/

save data ไว้ใน drive : https://drive.google.com/drive/folders/1h_z7Vmu06g-KsmJSdWXUZIZq8aahoOgE?usp=sharing

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/Project_DWDM'

# ข้อมูลชุดที่ 1 จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูง

https://data.go.th/dataset/broadband-subscribers?fbclid=IwAR2hJLTNGiEnMNwRApUdbzzaFUj-1_Ag7HWgdZPxX-oaEKw2PBU0_W3-_m0

**คำอธิบายตาราง**
* No. คือ ลำดับ
* YEAR / QUARTER (DATE) (QUARTER) คือ ไตรมาส (4 ไตรมาส)
* Thailand Internet Users_SUBSCRIBER คือ ประเภท
* YEAR / QUARTER (DATE) (YEAR) คือ ปี
* VALUE (SUM)_SUBSCRIBER คือ  จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูง

In [5]:
data_subscriber = pd.read_csv(os.path.join(path,'10broadband-subscribers.csv'))
data_subscriber

    no.  quarter Thailand Internet Users_subscriber  year  value_subscriber
0     4        4         Total Internet subscribers  2003         652726.00
1     3        3         Total Internet subscribers  2003         529530.00
2     2        2         Total Internet subscribers  2003         453043.00
3     1        1         Total Internet subscribers  2003         365219.00
4     8        4         Total Internet subscribers  2004        1231344.00
..  ...      ...                                ...   ...               ...
68   72        4         Total Internet subscribers  2020       11478264.92
69   71        3         Total Internet subscribers  2020       11282645.58
70   70        2         Total Internet subscribers  2020       10912996.14
71   69        1         Total Internet subscribers  2020       10264995.67
72   73        1         Total Internet subscribers  2021       11876158.44

[73 rows x 5 columns]

# ข้อมูลชุดที่ 2 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือน

https://data.go.th/dataset/broadband-penetration-per-household?fbclid=IwAR0tNweDa7pmiAaygo0Z88iFFIYLtQRFjujfaIyEpUub_bFVQEkcCbXAZJc

**คำอธิบายตาราง**
* No. คือ ลำดับ
* type_HOUSEHOLD คือ ประเภท
* YEAR / QUARTER (DATE) (QUARTER) คือ ไตรมาส (4 ไตรมาส)
* YEAR / QUARTER (DATE) (YEAR) คือ ปี
* VALUE (SUM)_HOUSEHOLD คือ  อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือน

In [6]:
data_household = pd.read_csv(os.path.join(path,'12broadband-penetration-per-household-.csv'))
data_household

    no.     type_household  quarter  year  value_household
0     4  per household (%)        4  2003         0.000649
1     3  per household (%)        3  2003         0.000459
2     2  per household (%)        2  2003         0.000343
3     1  per household (%)        1  2003         0.000281
4     8  per household (%)        4  2004         0.008716
..  ...                ...      ...   ...              ...
68   72  per household (%)        4  2020         0.514683
69   71  per household (%)        3  2020         0.515873
70   70  per household (%)        2  2020         0.498972
71   69  per household (%)        1  2020         0.469344
72   73  per household (%)        1  2021         0.532524

[73 rows x 5 columns]

# ข้อมูลชุดที่ 3 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร

https://data.go.th/dataset/broadband-penetration-per-population?fbclid=IwAR0D5Z4yxZOXJYPM9hgBJpAVbuWBkxwNzEdW_jWwlvvkCKQxaGERqrxffFs

**คำอธิบายตาราง**
* No. คือ ลำดับ
* type_POPULATION คือ ประเภท
* YEAR / QUARTER (DATE) (QUARTER) คือ ไตรมาส (4 ไตรมาส)
* YEAR / QUARTER (DATE) (YEAR) คือ ปี
* VALUE_POPULATION คือ  อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร

In [7]:
data_population = pd.read_csv(os.path.join(path,'11broadband-penetration-per-population-.csv'))
data_population

    no.     type_population  quarter  year value_population
0     1  per population (%)        1  2003            0.01%
1     2  per population (%)        2  2003            0.01%
2     3  per population (%)        3  2003            0.01%
3     4  per population (%)        4  2003            0.02%
4     5  per population (%)        1  2004            0.05%
..  ...                 ...      ...   ...              ...
68   69  per population (%)        1  2020           15.10%
69   70  per population (%)        2  2020           16.05%
70   71  per population (%)        3  2020           16.59%
71   72  per population (%)        4  2020           16.85%
72   73  per population (%)        1  2021           17.40%

[73 rows x 5 columns]

# Check Missing แต่ละตาราง
* True แสดงว่า column นั้น ยังมีข้อมูลที่ missing อยู่
* False แสดงว่า column นั้น ไม่มีข้อมูลที่ missing แล้ว

In [8]:
# เช็ค missing ตาราง data_subscriber
data_subscriber.isnull().any()

no.                                   False
quarter                               False
Thailand Internet Users_subscriber    False
year                                  False
value_subscriber                      False
dtype: bool

In [9]:
# เช็ค missing ตาราง data_household
data_household.isnull().any()

no.                False
type_household     False
quarter            False
year               False
value_household    False
dtype: bool

In [10]:
# เช็ค missing ตาราง data_population
data_population.isnull().any()

no.                 False
type_population     False
quarter             False
year                False
value_population    False
dtype: bool

สรุปได้ว่าข้อมูลทั้ง 3 ตารางไม่มีข้อมูลที่ missing

# เรียงข้อมูล

In [11]:
data_subscriber2 = data_subscriber.sort_values(by=['no.'])  # เรียงข้อมูลโดยใช้ column ของ No. เป็นหลักในการเรียง
data_subscriber2

    no.  quarter Thailand Internet Users_subscriber  year  value_subscriber
3     1        1         Total Internet subscribers  2003         365219.00
2     2        2         Total Internet subscribers  2003         453043.00
1     3        3         Total Internet subscribers  2003         529530.00
0     4        4         Total Internet subscribers  2003         652726.00
7     5        1         Total Internet subscribers  2004         785931.00
..  ...      ...                                ...   ...               ...
71   69        1         Total Internet subscribers  2020       10264995.67
70   70        2         Total Internet subscribers  2020       10912996.14
69   71        3         Total Internet subscribers  2020       11282645.58
68   72        4         Total Internet subscribers  2020       11478264.92
72   73        1         Total Internet subscribers  2021       11876158.44

[73 rows x 5 columns]

In [12]:
data_household2 = data_household.sort_values(by=['no.'])  # เรียงข้อมูลโดยใช้ column ของ No. เป็นหลักในการเรียง
data_household2

    no.     type_household  quarter  year  value_household
3     1  per household (%)        1  2003         0.000281
2     2  per household (%)        2  2003         0.000343
1     3  per household (%)        3  2003         0.000459
0     4  per household (%)        4  2003         0.000649
7     5  per household (%)        1  2004         0.001556
..  ...                ...      ...   ...              ...
71   69  per household (%)        1  2020         0.469344
70   70  per household (%)        2  2020         0.498972
69   71  per household (%)        3  2020         0.515873
68   72  per household (%)        4  2020         0.514683
72   73  per household (%)        1  2021         0.532524

[73 rows x 5 columns]

In [17]:
# ตัด column ของตาราง data_population (ตัด column ที่ซ้ำกันออกคือ QUARTER กับ YEAR)
data_population.drop(['quarter','year'], axis=1, inplace=True)  # axis=1 คือลบcolumn / axis=0 คือลบrow
data_population

    no.     type_population value_population
0     1  per population (%)            0.01%
1     2  per population (%)            0.01%
2     3  per population (%)            0.01%
3     4  per population (%)            0.02%
4     5  per population (%)            0.05%
..  ...                 ...              ...
68   69  per population (%)           15.10%
69   70  per population (%)           16.05%
70   71  per population (%)           16.59%
71   72  per population (%)           16.85%
72   73  per population (%)           17.40%

[73 rows x 3 columns]

In [18]:
# เชื่อมตาราง data_subscriber2 และ data_population เข้าด้วยกัน โดยให้ตาราง data_subscriber2 เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table1 = data_subscriber2.merge(data_population,how='left',left_on='no.',right_on='no.')
merge_table1

    no.  quarter  ...     type_population  value_population
0     1        1  ...  per population (%)             0.01%
1     2        2  ...  per population (%)             0.01%
2     3        3  ...  per population (%)             0.01%
3     4        4  ...  per population (%)             0.02%
4     5        1  ...  per population (%)             0.05%
..  ...      ...  ...                 ...               ...
68   69        1  ...  per population (%)            15.10%
69   70        2  ...  per population (%)            16.05%
70   71        3  ...  per population (%)            16.59%
71   72        4  ...  per population (%)            16.85%
72   73        1  ...  per population (%)            17.40%

[73 rows x 7 columns]

In [19]:
# ตัด column ของตาราง data_household2 (ตัด column ที่ซ้ำกันออกคือ QUARTER กับ YEAR)
data_household2.drop(['quarter','year'], axis=1, inplace=True)  # axis=1 คือลบcolumn / axis=0 คือลบrow
data_household2

    no.     type_household  value_household
3     1  per household (%)         0.000281
2     2  per household (%)         0.000343
1     3  per household (%)         0.000459
0     4  per household (%)         0.000649
7     5  per household (%)         0.001556
..  ...                ...              ...
71   69  per household (%)         0.469344
70   70  per household (%)         0.498972
69   71  per household (%)         0.515873
68   72  per household (%)         0.514683
72   73  per household (%)         0.532524

[73 rows x 3 columns]

In [20]:
# เชื่อมตาราง merge_table1 และ data_household2 เข้าด้วยกัน โดยให้ตาราง merge_table1 เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table2 = merge_table1.merge(data_household2,how='left',left_on='no.',right_on='no.')
merge_table2

    no.  quarter  ...     type_household  value_household
0     1        1  ...  per household (%)         0.000281
1     2        2  ...  per household (%)         0.000343
2     3        3  ...  per household (%)         0.000459
3     4        4  ...  per household (%)         0.000649
4     5        1  ...  per household (%)         0.001556
..  ...      ...  ...                ...              ...
68   69        1  ...  per household (%)         0.469344
69   70        2  ...  per household (%)         0.498972
70   71        3  ...  per household (%)         0.515873
71   72        4  ...  per household (%)         0.514683
72   73        1  ...  per household (%)         0.532524

[73 rows x 9 columns]

# ข้อมูลชุดที่ 4 จำนวนเลขหมายโทรศัพท์เคลื่อนที่ที่ได้รับการจดทะเบียน

https://data.go.th/dataset/mobile-subscribers?fbclid=IwAR3ZoY2gqT_ogfZwHHI40nC_ejcmi3O9xZMOmcac_rCCdA5brXcHVh85Ayw

**คำอธิบายตาราง**
* No. คือ ลำดับ
* Mobile Market Report คือ ประเภท
* YEAR / QUARTER (DATE) (QUARTER) คือ ไตรมาส (4 ไตรมาส)
* YEAR / QUARTER (DATE) (YEAR) คือ ปี
* VALUE (SUM)_MOBILE คือ  จำนวนเลขหมายโทรศัพท์เคลื่อนที่ที่ได้รับการจดทะเบียน

In [21]:
data_mobile = pd.read_csv(os.path.join(path,'05mobile-subscribers.csv'))
data_mobile

    no. Mobile Market Report  quarter  year  value_mobile
0     4   Mobile Subscribers        4  2002      17449890
1     3   Mobile Subscribers        3  2002      15743776
2     2   Mobile Subscribers        2  2002      12416261
3     1   Mobile Subscribers        1  2002       9669909
4     8   Mobile Subscribers        4  2003      21616910
..  ...                  ...      ...   ...           ...
72   76   Mobile Subscribers        4  2020     116294420
73   75   Mobile Subscribers        3  2020     119169759
74   74   Mobile Subscribers        2  2020     131881072
75   73   Mobile Subscribers        1  2020     132594791
76   77   Mobile Subscribers        1  2021     117562201

[77 rows x 5 columns]

In [22]:
# เช็ค missing ตาราง data_mobile
data_mobile.isnull().any()

no.                     False
Mobile Market Report    False
quarter                 False
year                    False
value_mobile            False
dtype: bool

In [23]:
# เรียงข้อมูลโดยใช้ column ของ No. เป็นหลักในการเรียง
data_mobile2 = data_mobile.sort_values(by=['no.'])
data_mobile2

    no. Mobile Market Report  quarter  year  value_mobile
3     1   Mobile Subscribers        1  2002       9669909
2     2   Mobile Subscribers        2  2002      12416261
1     3   Mobile Subscribers        3  2002      15743776
0     4   Mobile Subscribers        4  2002      17449890
7     5   Mobile Subscribers        1  2003      18763102
..  ...                  ...      ...   ...           ...
75   73   Mobile Subscribers        1  2020     132594791
74   74   Mobile Subscribers        2  2020     131881072
73   75   Mobile Subscribers        3  2020     119169759
72   76   Mobile Subscribers        4  2020     116294420
76   77   Mobile Subscribers        1  2021     117562201

[77 rows x 5 columns]

In [24]:
# ตัด column ของตาราง data_population (ตัด column ที่ซ้ำกันออกคือ No. กับ QUARTER)
data_mobile2.drop(['quarter','year'], axis=1, inplace=True)  # axis=1 คือลบcolumn / axis=0 คือลบrow
data_mobile2

    no. Mobile Market Report  value_mobile
3     1   Mobile Subscribers       9669909
2     2   Mobile Subscribers      12416261
1     3   Mobile Subscribers      15743776
0     4   Mobile Subscribers      17449890
7     5   Mobile Subscribers      18763102
..  ...                  ...           ...
75   73   Mobile Subscribers     132594791
74   74   Mobile Subscribers     131881072
73   75   Mobile Subscribers     119169759
72   76   Mobile Subscribers     116294420
76   77   Mobile Subscribers     117562201

[77 rows x 3 columns]

In [25]:
data_mobile3 = data_mobile2.iloc[4:,:]
data_mobile3

    no. Mobile Market Report  value_mobile
7     5   Mobile Subscribers      18763102
6     6   Mobile Subscribers      19788956
5     7   Mobile Subscribers      20655866
4     8   Mobile Subscribers      21616910
11    9   Mobile Subscribers      23217311
..  ...                  ...           ...
75   73   Mobile Subscribers     132594791
74   74   Mobile Subscribers     131881072
73   75   Mobile Subscribers     119169759
72   76   Mobile Subscribers     116294420
76   77   Mobile Subscribers     117562201

[73 rows x 3 columns]

In [26]:
# เชื่อมตาราง merge_table2 และ data_mobile เข้าด้วยกัน โดยให้ตาราง merge_table2 เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table3 = data_mobile3.merge(merge_table2,how='left',left_on='no.',right_on='no.')
merge_table3

    no. Mobile Market Report  ...     type_household  value_household
0     5   Mobile Subscribers  ...  per household (%)         0.001556
1     6   Mobile Subscribers  ...  per household (%)         0.002265
2     7   Mobile Subscribers  ...  per household (%)         0.004964
3     8   Mobile Subscribers  ...  per household (%)         0.008716
4     9   Mobile Subscribers  ...  per household (%)         0.015449
..  ...                  ...  ...                ...              ...
68   73   Mobile Subscribers  ...  per household (%)         0.532524
69   74   Mobile Subscribers  ...                NaN              NaN
70   75   Mobile Subscribers  ...                NaN              NaN
71   76   Mobile Subscribers  ...                NaN              NaN
72   77   Mobile Subscribers  ...                NaN              NaN

[73 rows x 11 columns]

In [27]:
# เช็ค missing ตาราง merge_table3
merge_table3.isnull().any()

no.                                   False
Mobile Market Report                  False
value_mobile                          False
quarter                                True
Thailand Internet Users_subscriber     True
year                                   True
value_subscriber                       True
type_population                        True
value_population                       True
type_household                         True
value_household                        True
dtype: bool

In [28]:
# จัดการ missing โดยการ dropna()
merge_table3_drop = merge_table3.dropna()
merge_table3_drop

    no. Mobile Market Report  ...     type_household  value_household
0     5   Mobile Subscribers  ...  per household (%)         0.001556
1     6   Mobile Subscribers  ...  per household (%)         0.002265
2     7   Mobile Subscribers  ...  per household (%)         0.004964
3     8   Mobile Subscribers  ...  per household (%)         0.008716
4     9   Mobile Subscribers  ...  per household (%)         0.015449
..  ...                  ...  ...                ...              ...
64   69   Mobile Subscribers  ...  per household (%)         0.469344
65   70   Mobile Subscribers  ...  per household (%)         0.498972
66   71   Mobile Subscribers  ...  per household (%)         0.515873
67   72   Mobile Subscribers  ...  per household (%)         0.514683
68   73   Mobile Subscribers  ...  per household (%)         0.532524

[69 rows x 11 columns]

In [29]:
# เช็ค missing ตาราง merge_table3_drop
merge_table3_drop.isnull().any()

no.                                   False
Mobile Market Report                  False
value_mobile                          False
quarter                               False
Thailand Internet Users_subscriber    False
year                                  False
value_subscriber                      False
type_population                       False
value_population                      False
type_household                        False
value_household                       False
dtype: bool

In [30]:
# จากการทำ dropna() ทำให้ข้อมูลหายไปกี่ % 
removed = merge_table3.shape[0] - merge_table3_drop.shape[0]

print(f'size before drop = {merge_table3.shape[0]}')
print(f'size aftre drop = {merge_table3_drop.shape[0]}')
print(f'we loss {100*(removed/merge_table3.shape[0])}% of data')

size before drop = 73
size aftre drop = 69
we loss 5.47945205479452% of data

**วัตถุประสงค์** คือ ศึกษาความสัมพันธ์ของตารางที่ 1-4 ว่าความสัมพันธ์ที่ได้จากการคาดเดาปีต่อๆไปเป็นยังไง?

In [34]:
from pandas.api.types import CategoricalDtype

### เพิ่ม column ใหม่ในตาราง merge_table3_drop

In [42]:
merge_table3_drop.columns

Index(['no.', 'Mobile Market Report', 'value_mobile', 'quarter',
       'Thailand Internet Users_subscriber', 'year', 'value_subscriber',
       'type_population', 'value_population', 'type_household',
       'value_household'],
      dtype='object')

In [43]:
subscriber_bucket = ['low','median','high']
merge_table3_drop['subscriber_group'] = pd.cut(merge_table3_drop.value_subscriber,
                            bins=[0,2000000,5000000,12000000],
                            labels=subscriber_bucket,
                            right=False).astype(str).astype(CategoricalDtype(subscriber_bucket,ordered=True))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [45]:
household_bucket = ['low','median','high']
merge_table3_drop['household_group'] = pd.cut(merge_table3_drop.value_household,
                            bins=[0,0.1,0.3,0.6],
                            labels=household_bucket,
                            right=False).astype(str).astype(CategoricalDtype(household_bucket,ordered=True))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

###### ติดตรงนี้

In [49]:
population_bucket = ['low','median','high']
merge_table3_drop['population_group'] = pd.cut(merge_table3_drop.value_population,
                            bins=[0,5,10,18],
                            labels=population_bucket,
                            right=False).astype(str).astype(CategoricalDtype(population_bucket,ordered=True))

TypeError: ignored

In [ ]:
mobile_bucket = ['low','median','high']
merge_table3_drop['mobile_group'] = pd.cut(merge_table3_drop.value_mobile,
                            bins=[0,5,10,18],
                            labels=mobile_bucket,
                            right=False).astype(str).astype(CategoricalDtype(mobile_bucket,ordered=True))

In [50]:
merge_table3_drop

    no. Mobile Market Report  ...  subscriber_group  household_group
0     5   Mobile Subscribers  ...               low              low
1     6   Mobile Subscribers  ...               low              low
2     7   Mobile Subscribers  ...               low              low
3     8   Mobile Subscribers  ...               low              low
4     9   Mobile Subscribers  ...               low              low
..  ...                  ...  ...               ...              ...
64   69   Mobile Subscribers  ...              high             high
65   70   Mobile Subscribers  ...              high             high
66   71   Mobile Subscribers  ...              high             high
67   72   Mobile Subscribers  ...              high             high
68   73   Mobile Subscribers  ...              high             high

[69 rows x 13 columns]