<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Project_DWDM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project กลุ่ม
* present วันที่ 31 สิงหาคม 2564
* ข้อมูลที่ไปดึงมาจาก 3 แหล่ง
* แสดงวิธีการโหลด
* ความเชื่อมโยง 3 ตาราง (index)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [6]:
path = '/content/drive/My Drive/PROJECT_DWDM'
data_rice59 = pd.read_csv(os.path.join(path,'in-season rice-2559.csv'))
data_rice59

        จังหวัด  ... ผลผลิตต่อเนื้อที่เก็บเกี่ยว(กก.)
0   อุบลราชธานี  ...                           334.41
1    นครราชสีมา  ...                           355.73
2      สุรินทร์  ...                           382.65
3      ร้อยเอ็ด  ...                           382.25
4     นครสวรรค์  ...                           568.32
..          ...  ...                              ...
72       กระบี่  ...                           325.43
73        ชุมพร  ...                           410.92
74        พังงา  ...                           314.13
75        ระนอง  ...                           329.27
76       ภูเก็ต  ...                           486.11

[77 rows x 5 columns]

In [7]:
data_rice60 = pd.read_csv(os.path.join(path,'in-season rice-2560.csv'))
data_rice60

        จังหวัด จำนวนครัวเรือน  ... เนื้อที่เพาะปลูก(ไร่) เนื้อที่เก็บเกี่ยว(ไร่)
0   อุบลราชธานี        261,871  ...             3,673,239            3,813,868.53
1    นครราชสีมา        219,581  ...             3,198,175            3,294,763.92
2      ศรีสะเกษ        213,275  ...             2,656,304            2,881,470.85
3      ร้อยเอ็ด        210,867  ...             2,438,726            2,954,872.99
4       ขอนแก่น        197,817  ...             1,967,057            2,201,222.81
..          ...            ...  ...                   ...                     ...
71    สมุทรสาคร            229  ...                 4,918                4,918.25
72       กระบี่            197  ...                   836                  836.02
73  สมุทรสงคราม            108  ...                 2,042                2,042.25
74        ระนอง             75  ...                   550                  549.51
75       ภูเก็ต             16  ...                    64                    63.5

[76 rows x 5 columns]

In [8]:
data_rice61 = pd.read_csv(os.path.join(path,'in-season rice-2561.csv'))
data_rice61

        จังหวัด จำนวนครัวเรือน  ... เนื้อที่เพาะปลูก(ไร่) เนื้อที่เก็บเกี่ยว(ไร่)
0   อุบลราชธานี        275,798  ...             3,885,310            3,878,415.38
1    นครราชสีมา        219,952  ...             3,187,184            3,181,463.33
2      ร้อยเอ็ด        219,694  ...             3,019,600            3,013,174.58
3      ศรีสะเกษ        212,277  ...             2,839,560            2,837,714.81
4       ขอนแก่น        194,684  ...             2,151,642            2,148,943.20
..          ...            ...  ...                   ...                     ...
71        พังงา            170  ...                   560                  560.04
72  สมุทรสงคราม            125  ...                 2,240                2,239.50
73       กระบี่            117  ...                   526                  525.51
74        ระนอง             61  ...                   428                  427.97
75       ภูเก็ต             15  ...                    63                   63.13

[76 rows x 5 columns]