<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/DWDM21/blob/main/Project_DWDM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project กลุ่ม
* present วันที่ 31 สิงหาคม 2564
* ข้อมูลที่ไปดึงมาจาก 3 แหล่ง
* แสดงวิธีการโหลด
* ความเชื่อมโยง 3 ตาราง (index)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/PROJECT_DWDM'

# Load Data

In [5]:
data_58 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี58.csv'))
data_58

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      121,927       2,507,646
199  200             9  ...      406,387       5,826,700
200  201            10  ...      703,727      10,147,319
201  202            11  ...        6,120         324,968
202  203            12  ...        9,035          91,720

[203 rows x 8 columns]

In [6]:
data_59 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี59.csv'))
data_59

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      217,213      13,813,306
1      2             2  ...      243,690      16,387,244
2      3             3  ...      181,398      13,115,358
3      4             4  ...       95,551       6,268,547
4      5             5  ...      179,018      13,068,776
..   ...           ...  ...          ...             ...
198  199             8  ...       19,354         765,726
199  200             9  ...       78,113       1,369,584
200  201            10  ...      895,751       7,264,997
201  202            11  ...      789,156      15,511,989
202  203            12  ...      399,055       5,130,042

[203 rows x 8 columns]

In [7]:
data_60 = pd.read_csv(os.path.join(path,'ผลไม้ส่งออกรายเดือนปี60.csv'))
data_60

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      123,631       7,957,513
1      2             2  ...       70,831       4,619,708
2      3             3  ...      132,200       8,337,277
3      4             4  ...       92,494       6,485,861
4      5             5  ...      227,581      12,924,734
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[203 rows x 8 columns]

# จัดการ Missing แต่ละตาราง

In [8]:
# เช็ค missing ปี58
data_58.isnull().any()

# True แสดงว่า column นั้น ยังมีข้อมูลที่ missing อยู่
# False แสดงว่า column นั้น ไม่มีข้อมูลที่ missing แล้ว

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

In [9]:
# เติมค่า/ข้อมูลในช่องที่มี missing

# product
data_58[['product']] = data_58[['product']].fillna('ไม่มีข้อมูล')  # เนื่องจากข้อมูลเป็นตัวหนังสือ ดังนั้นใช้ fillna ในการเติมข้อมูล

# qty_per_year
avg_qty_per_year58 = data_58[['qty_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_58[['qty_per_year']] = data_58[['qty_per_year']].fillna('avg_qty_per_year58')

# value_per_year
avg_value_per_year58 = data_58[['value_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_58[['value_per_year']] = data_58[['value_per_year']].fillna('avg_value_per_year58')

In [10]:
# เช็ค missing ปี58 (อีกรอบ)
data_58.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

In [11]:
# เช็ค missing ปี59
data_59.isnull().any()

# True แสดงว่า column นั้น ยังมีข้อมูลที่ missing อยู่
# False แสดงว่า column นั้น ไม่มีข้อมูลที่ missing แล้ว

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

In [12]:
# เติมค่า/ข้อมูลในช่องที่มี missing

# product
data_59[['product']] = data_59[['product']].fillna('ไม่มีข้อมูล')  # เนื่องจากข้อมูลเป็นตัวหนังสือ ดังนั้นใช้ fillna ในการเติมข้อมูล

# qty_per_year
avg_qty_per_year59 = data_59[['qty_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_59[['qty_per_year']] = data_59[['qty_per_year']].fillna('avg_qty_per_year59')

# value_per_year
avg_value_per_year59 = data_59[['value_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_59[['value_per_year']] = data_59[['value_per_year']].fillna('avg_value_per_year59')

In [13]:
# เช็ค missing ปี59 (อีกรอบ)
data_59.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

In [14]:
# เช็ค missing ปี60
data_60.isnull().any()

# True แสดงว่า column นั้น ยังมีข้อมูลที่ missing อยู่
# False แสดงว่า column นั้น ไม่มีข้อมูลที่ missing แล้ว

No.               False
number_month      False
month             False
Year              False
type              False
product            True
qty_per_year       True
value_per_year     True
dtype: bool

In [15]:
# เติมค่า/ข้อมูลในช่องที่มี missing

# product 
data_60[['product']] = data_60[['product']].fillna('ไม่มีข้อมูล')  # เนื่องจากข้อมูลเป็นตัวหนังสือ ดังนั้นใช้ fillna ในการเติมข้อมูล

# qty_per_year
avg_qty_per_year60 = data_60[['qty_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_60[['qty_per_year']] = data_60[['qty_per_year']].fillna('avg_qty_per_year60')

# value_per_year
avg_value_per_year60 = data_60[['value_per_year']].mean()
# เติม mean ลงไปแทนค่า missing
data_60[['value_per_year']] = data_60[['value_per_year']].fillna('avg_value_per_year60')

In [16]:
# เช็ค missing ปี60 (อีกรอบ)
data_60.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool

# เชื่อมตาราง

In [17]:
data_export = pd.concat([data_58,data_59,data_60])  # concat ใช้ต่อตารางแนวแกน Y
data_export

     No.  number_month  ... qty_per_year  value_per_year
0      1             1  ...      262,519      15,781,599
1      2             2  ...       98,167       5,549,497
2      3             3  ...      124,920       7,129,611
3      4             4  ...       65,049       3,908,310
4      5             5  ...      118,085       8,057,296
..   ...           ...  ...          ...             ...
198  199             8  ...      173,789       6,607,820
199  200             9  ...       73,432       3,645,467
200  201            10  ...       13,840         717,044
201  202            11  ...        9,092         361,561
202  203            12  ...       10,881         364,204

[609 rows x 8 columns]

In [18]:
# เช็ค missing
data_export.isnull().any()

No.               False
number_month      False
month             False
Year              False
type              False
product           False
qty_per_year      False
value_per_year    False
dtype: bool